body {
    font-family: Arial;
}

h1 {
    font-family: 'Content', cursive;
    font-size: 30px;
    color: greenyellow;
}

nav {
    font-family: 'Preahvihear', cursive;
    font-size: 18px;
}

.navbar,
.navbar-nav a:hover {
    background-color: gray;
    box-shadow: 1px 2px 4px rgba(0, 0, 0.5);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.jumbotron {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carousel-inner img {
    width: 70%;
    height: 30%;
    font-family: 'Preahvihear', cursive;
    text-align: center;
    color: blueviolet;
}

.logo {
    width: 50px;
    height: 50px;
}

.khmeruni {
    font-family: 'Lobster', cursive;
}

.card-img-top {
    width: 250px;
    height: 200px;
}


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/*
 * Footer
 */

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}